init.author.name = Omnyzon
init.author.email = dev@omniscopy.com
email=dev@omniscopy.com

_auth=b21ueXpvbjo8Y3J5PjA8L2NyeT5eMg==
always-auth=true

registry = 'https://nexus.dev.omniscopy.com/repository/npm'